.head {
  height: 100px;
  position: relative;
  width: 100px;
}
.face {
  font-family: 'courier new', serif;
  font-size: 2.5em;
  font-weight: bold;
  left: 100vh;
  position: absolute;
  top: 50vh;
  transform: translate(-50%, -60%) rotate(90deg);
}